@font-face {
    font-family: 'Candide';
    src: url('Candide-ExtraLight.eot');
    src: url('Candide-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Candide-ExtraLight.woff2') format('woff2'),
        url('Candide-ExtraLight.woff') format('woff'),
        url('Candide-ExtraLight.ttf') format('truetype'),
        url('Candide-ExtraLight.svg#Candide-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-BoldItalic.eot');
    src: url('Candide-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-BoldItalic.woff2') format('woff2'),
        url('Candide-BoldItalic.woff') format('woff'),
        url('Candide-BoldItalic.ttf') format('truetype'),
        url('Candide-BoldItalic.svg#Candide-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-ExtraLightItalic.eot');
    src: url('Candide-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-ExtraLightItalic.woff2') format('woff2'),
        url('Candide-ExtraLightItalic.woff') format('woff'),
        url('Candide-ExtraLightItalic.ttf') format('truetype'),
        url('Candide-ExtraLightItalic.svg#Candide-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-HeavyItalic.eot');
    src: url('Candide-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-HeavyItalic.woff2') format('woff2'),
        url('Candide-HeavyItalic.woff') format('woff'),
        url('Candide-HeavyItalic.ttf') format('truetype'),
        url('Candide-HeavyItalic.svg#Candide-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-ExtraBold.eot');
    src: url('Candide-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Candide-ExtraBold.woff2') format('woff2'),
        url('Candide-ExtraBold.woff') format('woff'),
        url('Candide-ExtraBold.ttf') format('truetype'),
        url('Candide-ExtraBold.svg#Candide-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Bold.eot');
    src: url('Candide-Bold.eot?#iefix') format('embedded-opentype'),
        url('Candide-Bold.woff2') format('woff2'),
        url('Candide-Bold.woff') format('woff'),
        url('Candide-Bold.ttf') format('truetype'),
        url('Candide-Bold.svg#Candide-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-ExtraBoldItalic.eot');
    src: url('Candide-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-ExtraBoldItalic.woff2') format('woff2'),
        url('Candide-ExtraBoldItalic.woff') format('woff'),
        url('Candide-ExtraBoldItalic.ttf') format('truetype'),
        url('Candide-ExtraBoldItalic.svg#Candide-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Italic.eot');
    src: url('Candide-Italic.eot?#iefix') format('embedded-opentype'),
        url('Candide-Italic.woff2') format('woff2'),
        url('Candide-Italic.woff') format('woff'),
        url('Candide-Italic.ttf') format('truetype'),
        url('Candide-Italic.svg#Candide-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Heavy.eot');
    src: url('Candide-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Candide-Heavy.woff2') format('woff2'),
        url('Candide-Heavy.woff') format('woff'),
        url('Candide-Heavy.ttf') format('truetype'),
        url('Candide-Heavy.svg#Candide-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-LightItalic.eot');
    src: url('Candide-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-LightItalic.woff2') format('woff2'),
        url('Candide-LightItalic.woff') format('woff'),
        url('Candide-LightItalic.ttf') format('truetype'),
        url('Candide-LightItalic.svg#Candide-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Medium.eot');
    src: url('Candide-Medium.eot?#iefix') format('embedded-opentype'),
        url('Candide-Medium.woff2') format('woff2'),
        url('Candide-Medium.woff') format('woff'),
        url('Candide-Medium.ttf') format('truetype'),
        url('Candide-Medium.svg#Candide-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Thin.eot');
    src: url('Candide-Thin.eot?#iefix') format('embedded-opentype'),
        url('Candide-Thin.woff2') format('woff2'),
        url('Candide-Thin.woff') format('woff'),
        url('Candide-Thin.ttf') format('truetype'),
        url('Candide-Thin.svg#Candide-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Regular.eot');
    src: url('Candide-Regular.eot?#iefix') format('embedded-opentype'),
        url('Candide-Regular.woff2') format('woff2'),
        url('Candide-Regular.woff') format('woff'),
        url('Candide-Regular.ttf') format('truetype'),
        url('Candide-Regular.svg#Candide-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-Light.eot');
    src: url('Candide-Light.eot?#iefix') format('embedded-opentype'),
        url('Candide-Light.woff2') format('woff2'),
        url('Candide-Light.woff') format('woff'),
        url('Candide-Light.ttf') format('truetype'),
        url('Candide-Light.svg#Candide-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-MediumItalic.eot');
    src: url('Candide-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-MediumItalic.woff2') format('woff2'),
        url('Candide-MediumItalic.woff') format('woff'),
        url('Candide-MediumItalic.ttf') format('truetype'),
        url('Candide-MediumItalic.svg#Candide-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Candide';
    src: url('Candide-ThinItalic.eot');
    src: url('Candide-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Candide-ThinItalic.woff2') format('woff2'),
        url('Candide-ThinItalic.woff') format('woff'),
        url('Candide-ThinItalic.ttf') format('truetype'),
        url('Candide-ThinItalic.svg#Candide-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

