@import url(../fonts/stylesheet.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Pontano+Sans:wght@300..700&display=swap');

html,
body {
    font-family: 'Candide';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
}

input,
select,
button,
option {
    font-family: 'Candide' !important;
}

.homescreen {
    background: url(../img/main_bg.jpg) center no-repeat;
    background-size: cover;
}

.top_bar {
    padding: 24px 74px
}

.top_right a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 12%;
    line-height: 24px;
    padding: 8px 16px;
}

.top_right a span {
    transition: all 0.3s linear 0s;
    border-bottom: #ffffff00 solid 1px;
    color: #fff;
}

.top_right a:hover span {
    border-bottom: #fff solid 1px;
    color: #fff;
}

.scroll-down {
    height: 86px;
    width: 86px;
    margin: 0 auto;
    position: relative;
}

.scroll-down span {
    width: 1px;
    height: 33px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.express_bg {
    background: #000 url(../img/express_bg.jpg) no-repeat center;
    background-size: cover;
}

.form_bg {
    background: #000 url(../img/from_bg.jpg) no-repeat center;
    background-size: cover;
}

.fromstyle option {
    background-color: #fff;
    color: #000;
    letter-spacing: 12%;
    font-family: 'Candide';
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
}

.custom_checkbox {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 12%;
    text-transform: uppercase;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.custom_checkbox input {
    display: none;
}

.custom_checkbox span {
    display: block;
    position: relative;
}

.custom_checkbox * {
    transition: all 0.5s linear 0s;
}

.custom_checkbox span a:hover {
    text-decoration: underline;
}

.custom_checkbox span.checkbox:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: #fff solid 1px;
    margin: 5px 0;
    border-radius: 2px;
}

.custom_checkbox input:checked+span.checkbox:after {
    content: "";
    display: block;
    width: 12px;
    height: 6px;
    border-left: #fff solid 2px;
    border-bottom: #fff solid 2px;
    position: absolute;
    top: 12px;
    left: 7px;
    transform: rotate(-45deg);
}

.form_container {
    overflow: hidden;
}

.form_container .bg-black-light {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-105%);
}

.btn_arrow span {
    display: inline-block;
    position: relative;
    transition: all 0.3s linear 0s;
    padding-left: 0;
}

.btn_arrow span svg {
    fill: white;
    position: absolute;
    top: 50%;
    left: -25px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    z-index: 1;
    transform: translateY(-50%);
}

.btn_arrow:hover span {
    padding-left: 25px;
}

.btn_arrow:hover span svg {
    opacity: 1;
    left: 0px;
}

.thanks_bg {
    background: #fff url(../img/thanks_bg.jpg) no-repeat center;
    background-size: cover;
}

.country_drop {
    border: #939191 solid 1px;
    border-radius: 4px;
    padding-bottom: 0 !important;
}

.country_drop #rfs-btn {
    color: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
}

.country_drop ul {
    color: #000;
    font-size: 14px;
    letter-spacing: 2%;
    border: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.country_drop .ReactFlagsSelect-module_selectValue__152eS {
    padding: 0;
}

.country_drop .ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]::after,
.country_drop .ReactFlagsSelect-module_selectBtn__19wW7::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url('../img/arrow.svg') no-repeat center;
    background-size: contain;
    transform: rotate(0deg);
    margin-left: 8px;
    vertical-align: middle;
    border: 0;
}